.item {
  text-decoration: none;
  color: inherit;
  border: 3px solid;
  border-radius: 20px;
  border-color: var(--color-primary-700);
  background-color: var(--color-gray-700);
  margin: auto;
  margin-bottom: 10px;
  width: 60%;
  font-size: large;
}

.item div {
  font-size: 150%;
  padding-bottom: 30px;
  color: var(--color-primary-500);
}

.chart {
  margin: auto;
  margin-bottom: 10px;
  border: 3px solid;
  border-radius: 20px;
  border-color: var(--color-primary-700);
  background-color: var(--color-gray-700);
  width: 60%;
}

.doughnut {
  padding: 2% 20%;
}

.bar {
  padding: 2% 2%;
}
