.formDate {
  margin-left: 1%;
  background-color: var(--color-gray-300);
  font-size: 1.2em;
}

.formButton {
  border-radius: 2rem;
  background-color: var(--color-gray-300);
  padding: 1rem 1rem;
  font-size: 1.2em;
}

.formButton:hover {
  background-color: var(--color-primary-700);
}
